<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizzakirjasto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 style="font-family: sans-serif">Hei!</h1>

        <p style="font-family: sans-serif">Tällä sovelluksella voit tarkastella valmiita pizzareseptejä, tai lisätä omia.<span th:text="${viesti}">jotain?</span></p>

        <p><a href="/opiskelijat">Tästä resepteihin!</a></p>
    </body>
</html>