<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pizzakirjasto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 style="font-family: sans-serif"><span th:text="${pizza.nimi}">pizza</span></h1>

        <p style="font-family: sans-serif">Tässä pizzan <span th:text="${pizza.nimi}">pizza</span> resepti:</p>
        
        <ol style="font-family: sans-serif">
            <li th:each="rivi: ${rivit}">
                <span th:text="${rivi}">rivi</span>
            </li>
        </ol>
        
        <ul style="font-family: sans-serif">
            <li><a href="/pizzat">Tästä resepteihin.</a></li>
            <li><a href="/muokkaa">Tästä luomaan uutta reseptiä, tai muokkaamaan olemassa olevaa.</a></li>
            <li><a href="/lisaaRaakaAineita">Tästä lisäämään raaka-aineita.</a></li>
            <li><a href="/">Tästä etusivulle.</a></li>
        </ul>
    </body>
</html>